.container {
  margin: auto;
  max-width: 600px;
}

.todoBlaock {
  padding: 30px;
  margin-top: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgb(0 0 0 / 15%);
}


.noto-sans-kr-regular  {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.btnStyle {
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50px;
  cursor: pointer;
  float: right;
} 

